.question-section {
  display: flex;
  margin-bottom: 50px;
}

.image-section > img {
  width: 480px;
  height: 367px;
  margin-left: 100px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 25px;
}

.image-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-options {
  margin-top: 50px;
  width: 610px;
}

.answer-section > button {
  width: 510px;
  height: 60px;
  margin-bottom: 30px;
  border-radius: 10px;
  margin-left: 50px;
  font-size: 20px;
}

.question-text {
  font-size: 28px;
  margin-bottom: 30px;
}

.question-count {
  font-size: 30px;
  margin-top: 20px;
}