.main-footer {
    color: white;
    background-color: #222222;
  }
  
  .list-items{
    color: rgba(255, 255, 255, 0.75);
    margin: ;
  }
  .Footer-links{
      list-style: none;
      text-align: left;
      

  }
  .copyright{
      text-align: left;
      color:#FFFFFF;
      margin-left: 2%;
      
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.005em;
      
    }

  .grid-container {
    display: grid;
    grid-gap: 20px;
}

.learnstick-whitelogo{
margin-right: 50%;

}

.social-container {
    background: #222222;
    
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.youtube {
    color: #eb3223;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: pink;
  }
  a.slack{
      color:purple
  }
  a.facebook {
    color: #4968ad;
  }
  